<!doctype html>
<html lang="en">
<head>

    <% include ../partials/header %>

    <title>Send Invite</title>

    <!-- Custom CSS: common.css -->
    <link rel="stylesheet" href="/css/common.css">

    <!-- Custom JS: common.js -->
    <script src="/js/common.js"></script>

</head>

<body>

<% include ../partials/sidebar %>

<!-- MAIN NEW GROUP PAGE HERE -->
<div id="main">
    <!-- Create new Group Heading -->
    <nav class="container black" id="round-heading" style="margin-bottom: 20px">
        <h2 class="center">
            Send Invite
        </h2>
    </nav>

    <!-- New Group Form Container -->
    <div class="container">
        <!-- Success Alerts -->
        

        <form action="/groups/send" method="POST">
            <div class="row">
                <!-- Input Box -->
                <div class="col s10">
                    <input id="group-name" name="groupName" class="input-field" type="text" placeholder="Enter Mail ID">
                </div>
                <!-- Create Button -->
                <div class="col s2">
                    <button class="btn">Send</button>
                </div>
            </div>
        </form>
    </div>  <!-- End of Create Group Container -->

</div>  <!-- END OF MAIN PAGE -->

</body>
</html>